/* ===============
     Main Body 
   =============== */

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	 line-height: 1.714em;
    -webkit-font-smoothing: antialiased;
	
}
p{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5{
	line-height: 0;
}
